/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20/10/2025, 10:19:04 a. m.
    Author     : LG
*/

/* assets/css/marcas.css */
.table td, .table th { vertical-align: middle; }
#txtSearch { min-width: 260px; }
#viewContent dt{ color: var(--muted); }
